{% extends "layout.html" %}
{% block content %}
<div class="d-flex justify-content-between">
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block btn-rounded bg-body border-body"
        style="border-radius: 16px;">
                <a href="/profiler" class="alert-link" >
        <img display="d-flex"
            src="https://raw.githubusercontent.com/attila5287/jobvizzy2_assets/master/logoAllModules/pro3.png" style="height: 4rem;">
                </a>

            <i class="fas fa-luggage-cart fa-2x text-secondary mt-2"></i><i class="text-secondary">
                <strong> Forgot something? Go back to Forms</strong>
            </i>
        </button>

        <i class="fas fa-chevron-right text-primary align-self-center"></i>
        
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block btn-rounded bg-body border-body"
        style="border-radius: 16px;">
                <a href="/scraper" class="alert-link" >                    
        <img display="d-flex"
            src="https://raw.githubusercontent.com/attila5287/jobvizzy2_assets/master/logoAllModules/scraper03.png" style="height: 4rem;">
                </a>
                <i class="fas fa-plane-departure mt-2 text-secondary fa-2x"></i>
                <i class="text-secondary">
                  <strong>
                    Departed on time successfully!
                  </strong>
                </i>
        </button>        

        <i class="fas fa-chevron-right text-primary align-self-center"></i>

        <div class="d-flex flex-column bd-highlight mb-3">
            <button type="button" name="" id="" class="btn btn-disabled btn-lg btn-block btn-rounded bg-body border-body"
        style="border-radius: 16px;">
        <i class="fas fa-map-marked text-secondary m-2">
        you are currently here</i>
                <a href="/croupier" class="alert-link" >
        <img display="d-flex"
            src="https://raw.githubusercontent.com/attila5287/jobvizzy2_assets/master/logoAllModules/croupier01.png" style="height: 4rem;">
                </a>
            <br>
                <i class="fas fa-plane-arrival text-secondary fa-2x"> </i>
                  <i class="text-secondary"> 
                  <strong>
                    How was your flight?
                  </strong>
                </i>
        </button>           
        <strong class="text-center text-primary">
            or
        </strong>
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block btn-rounded bg-body border-body"
        style="border-radius: 16px;">
                <a href="/tabulator" class="alert-link" >
        <img display="d-flex"
            src="https://raw.githubusercontent.com/attila5287/jobvizzy2_assets/master/logoAllModules/tabu03.png" style="height: 3rem;">
                </a><br>
                  <i class="fas fa-table-tennis text-secondary"></i>
                  <i class="text-secondary">
                    <strong>
                      Think table is more fun?
                    </strong>
                  </i>
        </button>           
      </div>

</div>


<div class="row">
                <!-- write a for loop that lists out your data and accesses the values using dot notation. -->
                {% for item in inventory %}

                <div class="col-xs-4">
                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem; "><i class="favicon" aria-hidden="true" src="favicon.ico"></i>
                        <div class="card-header">{{item.cityJob}}</div>
                        <div class="card-body" style="background-color: #bb7dee">
                            <h4 class="card-title">{{ item.Title }}</h4>
                            <p class="card-text">{{ item.Description}}</p>
                        </div>
                        <div class="card-footer">
                            {{item.Company}}
                        </div>
                        <a href="{{item.URLs}}" class="badge badge-secondary">apply</a>
                    </div>
                </div>

                {% endfor %}

            </div>
{% endblock content %}
