{% extends "layout.html" %}

{% block content %}


<div class="row">
    <div class="col-sm-3">
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block btn-rounded bg-body border-body"
            style="border-radius: 16px;">
            <a href="/profiler" class="alert-link">
                <img display="d-flex"
                    src="https://raw.githubusercontent.com/attila5287/jobvizzy2_assets/master/logoAllModules/pro3.png"
                    style="height: 3rem;">
            </a>
        </button>
        <ul class="fa-ul text-secondary py-1">
            <li>
                <span class="fa-li">
                    <i class="fas fa-luggage-cart"></i>
                </span>
                Go back to add jobs and cities for app to scrap from indeed
            </li>
        </ul>
    </div>
    <div class="col-sm-3">
        <button type="button" name="" id="" class="btn btn-lg btn-block btn-rounded bg-body border-body pl-0"
            style="border-radius: 16px;">
            <a href="/scraper" class="alert-link">
                <img 
                    src="https://raw.githubusercontent.com/attila5287/jobvizzy2_assets/master/logoAllModules/scraper03.png"
                    style="height: 3rem;">
            </a>
        </button>
        <ul class="fa-ul text-secondary py-1">

            <li>
                <span class="fa-li">
                    <i class="fas fa-plane-departure mt-2 text-secondary"></i>
                </span>
                How was your flight?
            </li>
        </ul>
    </div>
    <div class="col-sm-3">
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block btn-rounded bg-body border-body"
            style="border-radius: 16px;">
            <a href="/croupier" class="alert-link">
                <img display="d-flex"
                    src="https://raw.githubusercontent.com/attila5287/jobvizzy2_assets/master/logoAllModules/croupier01.png"
                    style="height: 2rem;">
            </a>
        </button>
        <ul class="fa-ul text-secondary py-1">
                      <li>
            <span class="fa-li">
                <i class="fas fa-map-marked text-info m-2"></i>
            </span>
            <i class="text-info">
                you are currently here
            </i>
        </li>
            <li>
                <span class="fa-li">
                    <i class="fas fa-plane-arrival text-secondary"></i>
                </span>
                Results in grid-like format...
            </li>
        </ul>
    </div>
    <div class="col-sm-3">
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block btn-rounded bg-body border-body"
            style="border-radius: 16px;">
            <a href="/tabulator" class="alert-link">
                <img display="d-flex"
                    src="https://raw.githubusercontent.com/attila5287/jobvizzy2_assets/master/logoAllModules/tabu03.png"
                    style="height: 3rem;">
            </a>
        </button>
        <ul class="fa-ul text-secondary py-1">
        <li>
            <span class="fa-li">
                <i class="fas fa-plane-arrival text-secondary"></i>
            </span>
            Results in table format...
        </li>
        </ul>
    </div>
</div>



<style>
  .bg-charcoal {
    background-color: rgba(37, 37, 37, 0.744);
  }
</style>

<div class="row">
                <!-- write a for loop that lists out your data and accesses the values using dot notation. -->
                {% for item in inventory %}

                <div class="col-sm-4">
                    
                  <div class="card text-light bg-primary mb-3 py-3 px-2 card-rounded border-secondary" 
                  style="border-radius: 1rem;
                  border-width: medium;
                  "
                  >
                    
                    <div class="card-header card-header-rounded bg-charcoal border-light mb-2"
                    style="border-width: medium; border-radius: 1rem;">
                    <i class="fas fa-hotel"></i>
                    {{item.cityJob}}
                    </div>

                    <div class="card-body card-body-rounded py-3" style="background-color: #bb7dee; border-radius: 1rem;">

                      <h4 class="card-title">
                        <i class="fas fa-wrench text-primary"></i>
                          {{ item.Title }}                          
                        </h4>

                        <p class="card-text">
                          <em>
                          {{ item.Description}}
                          </em>
                        </p>
                    </div>

                    <div class="card-footer card-footer-rounded bg-charcoal border-light mt-2" 
                    style="border-width: medium;border-radius: 1rem;">
                        {{item.Company}}
                    </div>

                    <a href="{{item.URLs}}" class="alert-link mt-2" >
                    <button type="button" name="" id="" class="btn btn-secondary btn-md btn-block btn-rounded bg-body border-body py-2" style="border-radius: 10px;">
                      <i class="fas fa-external-link-alt"></i>
                        <strong>
                          visit url
                        </strong>
                      </button>
                    </a>

                  </div>
                </div>

                {% endfor %}

</div>
{% endblock content %}
