<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
		<script src="{{ url_for('static', filename='holder.js') }}"></script>
		<script src="{{ url_for('static', filename='jquery-3.js') }}"></script>
		<script src="{{ url_for('static', filename='popper.js') }}"></script>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">


		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.4.1/united/bootstrap.min.css"
		/>


		<link
			rel="icon"
			type="image/x-icon"
			class="favicon"
			href="
			https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/jam_favIcon_png256_jframed.png
			"
		/>
		
		
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
			integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
			crossorigin="anonymous"
		/>

		{% if title %}
		<title> jam | {{ title }}</title>
		{% else %}
		<title> jam payroll</title>
		{% endif %}

	<style>
		@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
	</style>			

	</head>
	<body style="background-color: silver;">
		<nav 
		class="navbar navbar-expand-md navbar-dark fixed-top bg-black text-maroon"

		>

			<a class="navbar-brand" href="http://jampay.herokuapp.com">
				<img
            src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/navBarIcon_jam_nodes_simplifiedd.ico"
            width="112" height="30">
			</a>

			<button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
				aria-expanded="false" aria-label="Toggle navigation">
				<i class="fas fa-arrow-circle-down text-secondary fa-2x"></i>
			</button>

			<div class="collapse navbar-collapse" id="collapsibleNavId">
			  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

				{% if current_user.is_authenticated %}

				<li class="nav-item">
				<a class="nav-link" href="{{url_for('paystub.create_paystub')}}">PayStub</a>
				</li>				
				<li class="nav-item">
				  <a class="nav-link" href="{{url_for('timesheet.create_timesheet')}}">TimeSheet</a>
				</li>


				{% else %}


				<li class="nav-item">
					<a class="nav-link" href="{{url_for('paystub.create_paystub')}}">
						<i class="fas fa-print"></i>
						<i class="fas fa-money-check    "></i>
						PayStub</a>
					</li>				
					<li class="nav-item">
					  <a class="nav-link" href="{{url_for('timesheet.create_timesheet')}}">
						  <i class="fas fa-hourglass-half"></i>
						  TimeSheet</a>
					</li>
        {% endif %}
				{% if current_user.is_authenticated %}
				<!-- auth usr -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-user"></i>
						NewItemUser</a>
					<div class="dropdown-menu bg-body" aria-labelledby="dropdownId">
						<a class="dropdown-item" href="">
							<i class="fas fa-clipboard-check"></i>
							PayStubItem</a>
						<a class="dropdown-item" href="">
							<i class="fas fa-football-ball"></i>
							TimeSheetItem</a>
					</div>
				</li>
				{% else %}
				<!-- not auth -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-user-slash"></i>
						NewItemGuest</a>
					<div class="dropdown-menu bg-body" aria-labelledby="dropdownId">
					  <a class="dropdown-item" href="">
						  <i class="fas fa-clipboard-check    "></i>
						  PayStubItem</a>
					  <a class="dropdown-item" href="
					  
					  ">
						  <i class="fas fa-football-ball    "></i>
						  TimeSheetItem</a>
					</div>
				  </li>
				  {% endif %}
				  <li class="nav-item">
					<a class="nav-link" href="{{ url_for('main.aboutdev') }}">
						<i class="fas fa-pen    "></i>
						<i class="fas fa-signature    "></i>
						abt dev</a>
					</li>
			  </ul>
			</div>
		  </nav>
		  <!-- CHALKBOARD INFO BAR  -->
		  <!-- this is the part that pops up below navbar -->
		<div class="collapse bg-black text-maroon mt-0 mb-0" id="navbarHeader" >
			<div class="d-flex justify-content-around align-items-center mt-0 pt-4 px-2 mx-1 ">
						<small class="text-muted p-0">
							Code basics in stack-like diagram
						</small>
						<p class="text-light text-center mt-0 mb-0 p-0">
							<i class="fas  fw fa-flag mt-0"></i>
						</p>
						<p class="text-light text-center mt-0 mb-0 p-0">
							<i class="fas fa-fw fa-arrow-right"></i>
						</p>
						<div class="alert alert-light bg-black border-light text-light text-center mb-1 p-1" role="alert">
							<i class="fas fa-user    "></i>	create a user acct
							&RightArrowLeftArrow; 
							<i class="fas fa-database"></i> stores hash pw into db
						</div>
						
						<p class="text-light text-center mt-0 mb-0 p-0">
						<i class="fas  fa-fw fa-arrow-right mt-0"></i>
						</p>


						<div class="alert alert-light bg-black border-light text-light text-center mb-1 p-1" role="alert">
							<i class="fas fa-clipboard-list    "></i> user create obj (def: post) via forms
							&RightArrowLeftArrow; 
							<i class="fas fa-database    "></i> stores to db and reads when returned as a result of a query
						</div>
												
						<p class="text-light text-center mt-0 mb-0 p-0">
							<i class="fas fa-fw fa-level-down-alt mx-2 mt-0"></i>
						</p>
			</div>
			<div class="d-flex flex-row-reverse justify-content-around align-items-center mt-0 pt-2 px-2 mr-2">
				<p class="text-light text-center mt-0 mb-0 mx-2 p-0">
					<i class="fas fa-level-down-alt  fa-rotate-90 mt-0"></i>
				</p>
				<div class="alert alert-light bg-black border-light text-light text-center mb-1 p-1"  role="alert">
					<i class="fas fa-clipboard-check    "></i> user updates items/edits or delete records &RightArrowLeftArrow; 
					<i class="fas fa-database    "></i> db stores or removes records
				</div>
				
				<p class="text-light text-center mt-0 mb-0 p-0">
					<i class="fas  fa-fw fa-arrow-left mt-0"></i>
				</p>

				<div class="alert alert-light bg-black border-light text-light text-center mb-1 p-1" role="alert">
					<i class="fas fa-chart-line    "></i> user obj itself could also be edited
					&RightArrowLeftArrow;
					<i class="fas fa-image    "></i> db records reflecting the profile pic, email, username.
				</div>
				<p class="text-light text-center mt-0 mb-0 p-0">
					<i class="fas  fa-fw fa-arrow-left mt-0"></i>
				</p>
				<p class="text-light text-center mt-0 mb-0 p-0">
					<i class="fas  fa-flag-checkered mt-0"></i>
				</p>

			</div>
		</div>
		</div>
		<div class="navbar navbar-dark bg-secondary box-shadow mt-0"
		style="border-bottom-width: medium;"
		>
			<div class="container d-flex justify-content-between pt-2">
				<a class="navbar-brand d-flex align-items-center">
					<i class="fa fa-code mr-2 text-maroon" aria-hidden="true"> Show Me The Code!</i >
					
					<i class="fa fa-arrow-right mx-3 text-maroon" aria-hidden="true"></i>
				</a>
				<button
					class="navbar-toggler border-orange mt-1 p-1"
					type="button"
					data-toggle="collapse"
					data-target="#navbarHeader"
					aria-controls="navbarHeader"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<i class="fas fa-chalkboard text-maroon mt-1">i</i>
				</button>
			</div>
		</div>
		<nav class="navbar navbar-expand-xs navbar-light bg-maroon">
		</nav>
		


		<main role="main" class="container my-2 px-0">
			<div class="row">
				<div class="col-sm-9">
					{% with messages = get_flashed_messages(with_categories=true) %} {% if
					messages %} {% for category, message in messages %}
					<div class="alert alert-{{ category }}">
						{{ message }}
					</div>
					{% endfor %} {% endif %} {% endwith %} {% block content %} {% endblock
					%}
				</div>
				<!-- SIDEBAR -->
				<div class="col-sm-3">
					<div class="content-section px-1 py-2 no-print">
						<div class="container-fluid text-center my-2 py-0 px-2">
							<div
								class="nav-flex-column text-center py-4"
								style="width: fit-content; height:max-content;"
							>
								<img
								src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/task_menu.ico"
									class="card-img-top mb-2 px-2 py-1"
								/>
								{% if current_user.is_authenticated %}

								<a
									class="nav-item btn btn-large bg-secondary nav-link text-maroon border-dark pb-2 mt-2"
									href=""
									data-toggle="tooltip"
									data-placement="right"
									title="generate a paystub, fill out the forms"
									style="border-width: medium;"
								>
									<i class="fa fa-print" aria-hidden="true"></i>
									<strong>
									PayStub
									</strong>
									</a>
								</a>
								<a
									class="nav-item btn btn-large bg-secondary nav-link text-maroon border-dark pb-2 mt-2"
									href="{{ url_for('timesheet.create_timesheet') }}"
									data-toggle="tooltip"
									data-placement="right"
									title="type clock in-out hours to calculate hours worked"
									style="border-width: medium;"
								>
									<i class="fa fa-print" aria-hidden="true"></i> <strong>TimeSheet</strong></a>
								</a>
								<a
									class="nav-item btn btn-large bg-secondary nav-link text-maroon border-dark pb-2 mt-2"
									href="{{ url_for('users.account') }}"
									data-toggle="tooltip"
									data-placement="right"
									title="change user preferences or records"
									style="border-width: medium;"
								>
								<i class="fas fa-cogs mr-2"> Account</i>
								</a>								
								<a
									class="nav-item btn btn-large bg-secondary nav-link text-maroon border-dark pb-2 mt-2"
									href="{{ url_for('users.logout') }}"
									data-toggle="tooltip"
									data-placement="right"
									title="logout current user"
									style="border-width: medium;"
								>
								<i class="fas fa-sign-out-alt mr-2"> Logout</i>
								</a>																

								{% else %}
								
								<a
									class="nav-item btn btn-large bg-secondary nav-link text-maroon border-dark pb-2 mt-2"
									href="{{ url_for('paystub.create_paystub') }}"
									data-toggle="tooltip"
									data-placement="right"
									title="generate a paystub, fill out the forms"
									style="border-width: medium;"
								>
									<i class="fa fa-print" aria-hidden="true"></i>
									<strong>
									PayStub
									</strong>
									</a>
								</a>
								<a
									class="nav-item btn btn-large bg-secondary nav-link text-maroon border-dark pb-2 mt-2"
									href=""
									data-toggle="tooltip"
									data-placement="right"
									title="type clock in-out hours to calculate hours worked"
									style="border-width: medium;"
								>
									<i class="fa fa-print" aria-hidden="true"></i> <strong>TimeSheet</strong></a>
								</a>
								<a
									class="nav-item btn btn-secondary text-maroon btn-large nav-link mb-2 mt-2 border-dark"
									href="{{ url_for('main.about') }}"
									data-toggle="tooltip"
									data-placement="right"
									title="information about app"
									style="border-width: medium;"
								>

								<i class="fas fa-info"> 
									<strong>
										Info 
									</strong>
								</i> 

								</a>
								<a
									class="nav-item btn btn-secondary text-maroon btn-large nav-link mb-2 border-dark"
									href="{{ url_for('users.register') }}"
									data-toggle="tooltip"
									data-placement="right"
									title="register to enjoy user features"
									style="border-width: medium;"
								>
								<i class="fas fa-user-alt-slash"> Register</i> 
								</a>

								<a
									class="nav-item btn btn-secondary text-maroon btn-large nav-link mb-2 border-dark"
									href="{{ url_for('users.login') }}"
									data-toggle="tooltip"
									data-placement="right"
									title="login if registered user already"
									style="border-width:medium ;"
								>
								<i class="fa fa-user-plus mr-2" aria-hidden="true"> Login</i> 
								</a>

								{% endif %}

								<div class="card border-body">
									<div class="card-body bg-body border-body p-1">
										<small
											class="card-subtitle text-muted"
											style="font-style: italic;"
										> app developed; graphics designed; code written; database setup; records admin'd; idea cr34t3d by: 
										</small>

										<a href="https://github.com/attila5287/no_days_off">

											<i class="fa fa-code-branch text-maroon ml-2" aria-hidden="true"
											> attila#52 </i>
										</a>
									</div>
								</div>
								



								<img
								class="card-img-top mb-2"
								src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/task_menu_bottom.ico"
							/> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		

		<footer class="footer mt-4 no-print">
			<div class="row">
				<div class="col-sm-2 offset-sm-2">
				  <img class="mb-2"
					src="https://raw.githubusercontent.com/attila5287/payroll_management_app_assets/master/jam_upperleft_png512_brushedRedBlkk.ico"
					alt="" width="128" height="128">
				</div>
				
				<div class="col-sm-2">
					<div class="d-flex flex-column justify-content-around text-muted text-center">
						<a>BoilerPlate </a>
						<a>BluePrint </a>
						<a>by Attila Turkoz </a>
						<a>Github: @attila5287 </a>
						<a>Full Stack Web App </a>
					</div>
				</div>
				<div class="col-sm-2">	
					<div class="d-flex flex-column justify-content-between text-muted text-center">
						<a>Python Object Oriented Programming</a>
						<a>Flask Web FrameWork</a>
						<a>PostgreSQL Database</a>
						<a>Heroku Server (SalesForce)</a>
						<a>Bootstrap Front End</a>
					</div>
				</div>
			</div>
		</footer>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<style>
			.bg-body {
				background-color: silver;
			  }
			  .border-body {
				border-color:silver;
				border-width: medium;
			  }
			  .bg-black {
				background-color: rgba(22, 22, 22, 0.786);
			  }			  
			  .border-black {
				border-color: rgb(22, 22, 22);
			  }
			  .bg-brick {
				background-color: rgb(212, 125, 119);
			  }			  
			  .border-brick {
				border-color: rgb(212, 125, 119);
			  }			  
			  .bg-grass {
				background-color: rgba(170, 177, 130, 0.877);
			  }
			  .bg-sky {
				background-color: rgba(152, 170, 199, 0.883);
			  }

			  .bg-gold {
				background-color: rgba(238, 156, 79, 0.966);
			  }
			  .bg-silver {
				background-color: rgba(221, 226, 225, 0.932);
			  }

			  .text-maroon {
				  color: maroon;
			  }
			  .bg-maroon {
				background-color: maroon;
			}
			.border-maroon {
				border-color: maroon;
				border-width: medium;
			}
			  html {
				position: relative;
				min-height: 100%;
			  }
			  body {
				margin-bottom: 60px; /* Margin bottom by footer height */
			  }
			  .footer {
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 20px; /* Set the fixed height of the footer here */
				line-height: 20px; /* Vertically center the text there */
			  }
			  
		</style>

	</body>
</html>
