{% extends "layout.html" %}
{% block content %}

<div class="container-fluid">

    <div class="d-flex justify-content-center">
        <img display="d-flex"
            src="https://raw.githubusercontent.com/attila5287/jobvizzy2_assets/master/logoAllModules/proFit_sml.png"
            style="width: 66%;">
    </div>
</div>


<div class="container mt-2">
    <div class="row">
        <div class="col-md-12">
            <!-- display user preferences -->
            <div class="alert alert-secondary bg-lavender p-4 text-light">
                <h3 class="mb-4">
                    <i class="fas fa-wrench"></i>
                    jobs selected:
                </h3>

                <button type="button"
                    class="btn btn-info disabled text-light btn-rounded btn-lg py-2 px-5 mx-2 box-shadow"
                    style="border-radius: 9px;">
                    <h1 class="text-light" style="font-family: monospace;">
                        {{PairJobCity.jobTitle}}
                    </h1>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- display user preferences -->

            <div class="alert alert-secondary bg-lavender p-4 text-light">
                <h3 class="mb-4">

                    <i class="fas fa-hotel"></i>
                    city selected:
                </h3>

                <button type="button"
                    class="btn btn-primary disabled btn-rounded btn-lg py-2 px-5 mx-2 border-light text-center"
                    style="border-radius: 9px;border-width: medium;">
                    <h3 style="font-family: monospace;">
                        {{PairJobCity.city}}
                    </h3>
                </button>


            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="d-flex bg-info justify-content-center">

                <button type="button" name="" id="" class="btn btn-info btn-lg btn-block">
                        <a href="/pair/delete/prev" class="alert-link" style="font-family: monospace; color: thistle"><h1>RES3T</h1>
                        <i class="fas fa-battery-full fa-2x"></i>
                        <i class="fas fa-battery-empty fa-2x"></i>
                        </a>
                </button>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="d-flex justify-content-center">
                <img display="d-flex"
                    src="https://raw.githubusercontent.com/attila5287/jobvizzy2_assets/master/logoAllModules/scraper03.png">
            </div>
        </div>
    </div>
</div>


<div class="container mt-2">
    <div class="row">
        <div class="col-sm-6">
            <div class="alert alert-primary text-light bg-orchid" role="alert">
                <h1 class="my-2" style="font-family:monospace ;">
                    job title</h1>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="alert alert-primary text-light bg-orchid" role="alert">
                <h1 class="my-2" style="font-family:monospace ;">
                    city here
                </h1>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mb-2">
    <form method="POST" action="">
        <div class="row">
            {% for field in form %}
            <div class="col-sm-6">

                <i class="fas fa-asterisk ml-2 my-0">
                    
                    {{ field.label}} 

                </i>

                {{
                    field(class="form-control form-control-info form-control-lg border-body text-muted mb-2 p-4", style="border-radius: 1rem;") 
                }}
            </div>
            {% endfor %}
        </div>
        
            <button type="submit" class="btn btn-block btn-primary text-light btn-rounded btn-lg  box-shadow"
                    style="border-radius: 9px;">
                    <h3>
                    <i class="fas fa-paper-plane"></i>
                    add city/job!
                </h3>
            </button>
        
    </form>
</div>

{% endblock content %}
