{% extends "layout.html" %}
{% block content %}
<style>
  	.list-group-hover li:hover a {
		background-color: rgb(222, 127, 246);
	}
	.list-group-hover li:hover strong {
		background-color: rgba(222, 127, 246);
	}

	.list-group-hover li:hover i {
		background-color: rgba(222, 127, 246);
  }
  
</style>



<div class="row">
    <div class="col-sm-3">
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block btn-rounded bg-body border-body"
            style="border-radius: 16px;">
            <a href="/profiler" class="alert-link">
                <img display="d-flex"
                    src="https://raw.githubusercontent.com/attila5287/jobvizzy2_assets/master/logoAllModules/pro3.png"
                    style="height: 3rem;">
            </a>
        </button>
        <ul class="fa-ul text-secondary py-1">
            <li>
                <span class="fa-li">
                    <i class="fas fa-luggage-cart"></i>
                </span>
                Go back to add jobs and cities for app to scrap from indeed
            </li>
        </ul>
    </div>
    <div class="col-sm-3">
        <button type="button" name="" id="" class="btn btn-lg btn-block btn-rounded bg-body border-body pl-0"
            style="border-radius: 16px;">
            <a href="/scraper" class="alert-link">
                <img 
                    src="https://raw.githubusercontent.com/attila5287/jobvizzy2_assets/master/logoAllModules/scraper03.png"
                    style="height: 3rem;">
            </a>
        </button>
        <ul class="fa-ul text-secondary py-1">

            <li>
                <span class="fa-li">
                    <i class="fas fa-plane-departure mt-2 text-secondary"></i>
                </span>
                How was your flight?
            </li>
        </ul>
    </div>
    <div class="col-sm-3">
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block btn-rounded bg-body border-body"
            style="border-radius: 16px;">
            <a href="/croupier" class="alert-link">
                <img display="d-flex"
                    src="https://raw.githubusercontent.com/attila5287/jobvizzy2_assets/master/logoAllModules/croupier03.png"
                    style="height: 3rem;">
            </a>
        </button>
        <ul class="fa-ul text-secondary py-1">
            <li>
                <span class="fa-li">
                    <i class="fas fa-plane-arrival text-secondary"></i>
                </span>
                Results in grid-like format...
            </li>
        </ul>
    </div>
    <div class="col-sm-3">
        <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block btn-rounded bg-body border-body"
            style="border-radius: 16px;">
            <a href="/tabulator" class="alert-link">
                <img 
                    src="https://raw.githubusercontent.com/attila5287/jobvizzy2_assets/master/logoAllModules/tabu01.png"
                    style="height: 2rem;">
            </a>
        </button>
        <ul class="fa-ul text-secondary py-1">
                                    <li>
            <span class="fa-li">
                <i class="fas fa-map-marked text-info m-2"></i>
            </span>
            <i class="text-info">
                you are currently here
            </i>
        </li>
        <li>
            <span class="fa-li">
                <i class="fas fa-plane-arrival text-secondary"></i>
            </span>
            Results in table format...
        </li>
        </ul>
    </div>
</div>







<br>
<div class="row">
  <div class="container-fluid">
    <ul
      class="list-group list-group-hover bg-orchid px-4 py-3"
    >
      <li class="list-group-item active border-light text-center py-4 mx-3 my-0"
      style="border-radius: 2rem;"
      >
        <img
          src="https://raw.githubusercontent.com/attila5287/jobvizzy2_assets/master/sidebar_purpleFlowers02.png"
          class="img-fluid text-center"
          alt=""
          style="max-height: 4rem;		transform: scale(-1, 1);"
        />                
        <img
          src="https://raw.githubusercontent.com/attila5287/jobvizzy2_assets/master/mascotOWL/owlNeon.png"
          class="img-fluid text-center"
          alt=""
          style="max-height: 3rem;"
        />                
        <img
          src="https://raw.githubusercontent.com/attila5287/jobvizzy2_assets/master/sidebar_purpleFlowers.png"
          class="img-fluid text-center"
          alt=""
          style="max-height: 4rem;		transform: scale(-1, 1);"
        />        
        <img
          src="https://raw.githubusercontent.com/attila5287/jobvizzy2_assets/master/mascotOWL/owlSilver.png"
          class="img-fluid text-center"
          alt=""
          style="max-height: 4rem;"
        />
        
        <img
          src="https://raw.githubusercontent.com/attila5287/jobvizzy2_assets/master/sidebar_purpleFlowers.png"
          class="img-fluid text-center"
          alt=""
          style="max-height: 4rem;"
        />
        <img
          src="https://raw.githubusercontent.com/attila5287/jobvizzy2_assets/master/mascotOWL/owlPurple.png"
          class="img-fluid text-center"
          alt=""
          style="max-height: 3rem;"
        />        
        <img
          src="https://raw.githubusercontent.com/attila5287/jobvizzy2_assets/master/sidebar_purpleFlowers02.png"
          class="img-fluid text-center"
          alt=""
          style="max-height: 4rem;"
        />        
      </li>
      {% for item in inventory %}
      <li class="list-group-item active m-3"
      style="border-radius: 1rem;"
      >
        <a class="float-left">
          <i class="fas fa-hotel">
            {{item.cityJob}}
          </i>
        </a>

        
        <strong class="text-center" style="font-size: larger;">
        <i class="fas fa-wrench text-primary">
          {{ item.Title }}                          
        </i>          
        </strong>

        <i>{{item.Company}}</i>
        <br>
        <em>{{ item.Description}}</em>
      
        <a
          href="{{ url_for('scraper.tabulator') }}"
          class="btn btn-light btn-sm float-right"
        >
          <i class="fas fa-check" href="/"></i>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock content %}